<div id="experiments-list" class="panel panel-default">
  <div class="panel-heading">
    <h3>Competition's Experiments</h3>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Experiment number</th>
        <th>Domain name</th>
        <th>Problem number</th>
        <th>Cpu time</th>
        <% unless @competition.published %>
        <th>Remove?</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @experiments.each do |ex| %>
        <tr>
          <td><%= ex.experiment_number %></td>
          <td><%= link_to ex.domain.name, ex.domain %></td>
          <td><%= link_to ex.problem.name, ex.problem %></td>
          <td><%= ex.cpu_time %></td>
          <% unless @competition.published %>
            <td><%= link_to content_tag(:i, '', class: 'icon-trash icon-white') + 'Delete', ex, method: :delete, class: 'btn btn-danger btn-xs remove_fields' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
