<% if @competition.participants.any? %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Leaderboard Table
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Planner</th>
            <th>User</th>
            <th>Total Score</th>
          </tr>
        </thead>
        <tbody>
          <% @leaderboard_entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.participant.planner.name, entry.participant.planner %></td>
            <td><%= link_to entry.participant.planner.user.name, entry.participant.planner.user %></td>
            <td><%= entry.score %></td>
          </tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Score Graph
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body" id="score-chart">
        <%= render_chart(@score_chart, 'score-chart') %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Quality Values Graph
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body" id="quality-chart">
        <%= render_chart(@quality_chart, 'quality-chart') %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Participants</h3>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Planner</th>
        <th>Submitter</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>
      <% @competition.participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.planner.name, participant.planner %></td>
          <td><%= link_to participant.planner.user.name, participant.planner.user %></td>
          <td><%= link_to 'Planner results', participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Submit planner for participation</h3>
  </div>
  <div class="panel-body">
    <% if current_user == nil %>
      <p><b>Not signed in</b></p>
      <p><%= link_to 'Sign in', sign_in_path %></p>
    <% elsif current_user.available_planners?(@competition) %>
      <%= render 'participate' %>
    <% else %>
      <p><b>No available planners</b></p>
    <% end %>
  </div>
</div>
