<div class="panel panel-default">
  <div class="panel-body">
    <div id="quality-chart"></div>
    <%= render_chart(@quality_chart, 'quality-chart') %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div id="score-chart"></div>
    <%= render_chart(@score_chart, 'score-chart') %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Participants</h3>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Planner</th>
        <th>Submitter</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @competition.participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.planner.name, participant.planner %></td>
          <td><%= link_to participant.planner.user.name, participant.planner.user %></td>
          <td><%= link_to 'participant details', participant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Submit planner for participation</h3>
  </div>
  <div class="panel-body">
    <% if current_user == nil %>
      <p><b>Not signed in</b></p>
      <p><%= link_to 'Sign in', sign_in_path %></p>
    <% elsif current_user.available_planners?(@competition) %>
      <%= render 'participate' %>
    <% else %>
      <p><b>No available planners</b></p>
    <% end %>
  </div>
</div>
