<ol class="breadcrumb">
  <li class="active"><%= @competition.name %></li>
</ol>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <h1><%= @competition.name %></h3>
      </div>
      <div class="panel-body">
        <p>
          <b>Organiser:</b> <%= link_to @competition.user.name, @competition.user %>
        </p>
        <p>
          <b>Description:</b><br />
          <%= @competition.description %>
        </p>

        <% if allow? 'competitions', 'edit', @competition %>
          <%= link_to 'Edit', edit_competition_path(@competition), class: 'btn btn-default' %>
        <% end %>
        <% if allow? 'competitions', 'destroy', @competition %>
          <%= link_to 'Delete', competition_path(@competition), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <% if @competition.published %>
      <%= render 'participants_section' %>
    <% else %>
      <%= render 'experiments_section' %>
    <% end %>
  </div>
</div>
