<ol class="breadcrumb">
  <li><%= link_to @participant.competition.name, @participant.competition %></li>
  <li class="active">Participant</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @participant.competition.name + ' participant: ' + @participant.planner.name %></h1>
  </div>
  <div class="panel-body">
    <p>
      <b>User:</b> <%= link_to @participant.planner.user.name, @participant.planner.user %>
    </p>
    <p>
      <b>Planner:</b> <%= link_to @participant.planner.name, @participant.planner %>
    </p>
    <%= link_to 'Back to competition', @participant.competition, class: 'btn btn-default' %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Results for participant</h2>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Experiment number</th>
        <th>Domain</th>
        <th>Problem</th>
        <th>Status</th>
        <th>Details</th>
        <th>Best Quality</th>
      </tr>
    </thead>
    <tbody>
      <% @participant.tasks.each do |task| %>
        <tr>
          <td><%= task.experiment.experiment_number %></td>
          <td><%= link_to task.experiment.domain.name, task.experiment.domain %></td>
          <td><%= link_to task.experiment.problem.name, task.experiment.problem %></td>
          <td><%= task.status %></td>
          <td><%= link_to 'results', task %></td>
          <td><%= task.best_quality %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
