<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1><%= @user.name %></h1>
      </div>
      <div class="panel-body">
        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>
        <p>
          <b>Listing user's planners:</b>
        </p>
        <div class="list-group">
          <%= render @planners %>
        </div>
        <% if @user.organiser or @user.admin %>
        <p>
          <b>Listing user's competitions:</b>
        <p>
        <div class="list-group">
          <%= render @competitions %>
        </div>
        <% end %>
      </div>
    </div>
      <% if allow? "users", "edit", @user %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Add new planner..</b>
        </div>
        <div class="panel-body">
          <%= link_to 'Add Planner', new_planner_path, class: 'btn btn-default' %>
        </div>
      </div>
      <% end %>
  </div>
</div>

