<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Planner: <%= @planner.name %></h1>
      </div>
      <div class="panel-body">
        <p>
          <b>Owner:</b> <%= link_to @planner.user.name, @planner.user %>
        </p>
        <p>
          <b>File Name:</b> <%= link_to @planner.tarball_file_name, @planner.tarball.url %>
        </p>
        <p>
          <b>File Size:</b> <%= pluralize @planner.tarball_file_size, 'byte' %>
        </p>
        <p>
          <b>Competitions entered:</b>
        </p>
        <% if @planner.competitions.any? %>
        <ul class="list-group">
          <% @planner.competitions.each do |comp| %>
            <%= link_to comp.name, competition_path(comp), class: 'list-group-item' %>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
