<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Planner: <%= @planner.name %></h1>
      </div>
      <div class="panel-body">
        <p>
          <b>Owner:</b> <%= link_to @planner.user.name, @planner.user %>
        </p>
        <p>
          <b>File Name:</b> <%= link_to @planner.tarball_file_name, @planner.tarball.url %>
        </p>
        <p>
          <b>File Size:</b> <%= pluralize @planner.tarball_file_size, 'byte' %>
        </p>
        <p>
          <b>Validation Status</b>: <%= @planner.status_string %>
        </p>
        <% if @planner.status == 'error' %>
          <p>
            <b>Error Message</b>
            <%= @planner.error_message %>
          </p>
        <% end %>
        <p>
          <b>Competitions entered:</b>
        </p>
        <% if @planner.competitions.any? %>
        <ul class="list-group">
          <% @planner.competitions.each do |comp| %>
            <%= link_to comp.name, competition_path(comp), class: 'list-group-item' %>
          <% end %>
        </ul>
        <% else %>
        <p>No competitions</p>
        <% end %>

        <% if allow? 'planners', 'edit', @planner %>
          <%= link_to 'Edit', edit_planner_path(@planner), class: 'btn btn-default' %>
        <% end %>
        <% if allow? 'planners', 'destroy', @planner %>
          <%= link_to 'Delete', planner_path(@planner), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
