<%= form_for(@planner) do |f| %>
    <%= f.hidden_field :user_id %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
