<ol class="breadcrumb">
  <li><%= link_to @result.task.participant.competition.name, @result.task.participant.competition %></li>
  <li><%= link_to 'Participant', @result.task.participant %></li>
  <li><%= link_to 'Task', @result.task %></li>
  <li class="active">Result <%= @result.result_number %></li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Result <%= @result.result_number %></h1>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Result number</th>
        <th>Quality</th>
        <th>Valid plan?</th>
        <th>Created At</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= @result.result_number %></td>
        <th><%= @result.quality %></td>
        <th><%= @result.valid_plan %></td>
        <td><%= @result.created_at.to_s %></td>
        <td><%= @result.updated_at.to_s %></td>
      </tr>
    </tbody>
  </table>
</div>
<% if @result.output %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Plan Result</h3>
  </div>
  <div class="panel-body">
    <div class="code-block">
      <pre><%= @result.output %></pre>
    </div>
  </div>
</div>
<% end %>
<% if @result.validation_output %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Validation Output</h3>
  </div>
  <div class="panel-body">
    <div class="code-block">
      <pre><%= @result.validation_output %></pre>
    </div>
  </div>
</div>
<% end %>
