<% if @domain.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>
    <ul>
    <% @domain.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= bootstrap_form_for(@domain) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :name %>
  <%= f.file_field :tarball %>
  <%= f.select(:number_of_problems, (1..100), class: 'form-control') %>
  <%= f.submit 'Submit' %>
<% end %>

