<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Domain: <%= @domain.name %></h1>
      </div>
      <div class="panel-body">
        <p>
          <b>Name:</b>
          <%= @domain.name %>
        </p>
        <% if @domain.user %>
        <p>
          <b>Submitter:</b>
          <%= link_to @domain.user.name, @domain.user %>
        </p>
        <% end %>
        <p>
          <b>Validation Status:</b>
          <%= @domain.status_string %>
        </p>
        <% if @domain.status == 'error' %>
          <p>
            <b>Error Message:</b>
            <%= @domain.error_message %>
          </p>
        <% end %>
        <p>
          <b>Number of problems:</b>
          <%= @domain.number_of_problems %>
        </p>

        <% if allow? 'domains', 'edit', @domain %>
          <%= link_to 'Edit', edit_domain_path(@domain), class: 'btn btn-default' %>
        <% end %>
        <% if allow? 'domains', 'destroy', @domain %>
          <%= link_to 'Delete', domain_path(@domain), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Problems</h2>
      </div>
      <div class="panel-body">
        <section class="problem-list">
          <ul>
            <% @problems.each do |problem| %>
              <li><%= link_to problem.name, problem %></li>
            <% end %>
          <ul>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>domain.pddl</h2>
      </div>
      <div class="panel-body">
        <% if @domain.plain_text.nil? %>
          <div class="alert alert-warning">
            No domain.pddl file read!
          </div>
        <% else %>
          <div class="code-block">
            <pre><%= @domain.plain_text %></pre>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
