<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>User:</b>
  <%= @domain.user_id %>
</p>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
