<!DOCTYPE html>
<html>
<head>
  <title>PlanductorWeb</title>
  <script src="https://www.google.com/jsapi"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= stylesheet_link_tag    "custom" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="application-container">
    <%= render 'layouts/menu_bar' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
